# Local service URLs
REDIS_URL=redis://redis:6379
REDMINE_CONTAINER_URL=http://redmine:8080

# Local development settings
RAILS_ENV=development
RAILS_RELATIVE_URL_ROOT=/
SECRET_KEY_BASE=0123456789ABCDEF
